### PROJECT SETTINGS

PROJECT_NAME=my-laravel-app
COMPOSE_PROJECT_NAME=${PROJECT_NAME}
COMPOSE_ENV=local

### APP SHELL
# Used by bin/bash, bin/cli, bin/root, bin/copyfromcontainer, bin/copytocontainer

APP_CONTAINER=app-main
APP_SHELL_USER=wodby
APP_ROOT=/var/www/html
MAKEFILE_SHELL_USERS_MAP=app-main=wodby

### TRAEFIK

X_APP_DOMAIN=${PROJECT_NAME}.docker.localhost
X_PMA_DOMAIN=pma.${PROJECT_NAME}.docker.localhost
X_APP_URL=https://${X_APP_DOMAIN}
X_APP_TIMEZONE=Europe/Kiev

### DATABASE

X_DB_HOST=${COMPOSE_PROJECT_NAME}-db-1
X_DB_DATABASE=laravel
X_DB_TEST_DATABASE=laravel_test
X_DB_USERNAME=laravel
X_DB_PASSWORD=laravel
X_DB_ROOT_PASSWORD=password

### PMA BASIC AUTH (htpasswd format, leave empty to disable)
X_PMA_BASIC_AUTH=

### IMAGE VERSIONS

PHP_VERSION=8.3
NGINX_VERSION=1.29
NODE_VERSION=22
MARIADB_VERSION=11.4
REDIS_VERSION=7.4
