### PROJECT SETTINGS

PROJECT_NAME=my-project
COMPOSE_PROJECT_NAME=${PROJECT_NAME}
COMPOSE_ENV=local

### APP SHELL
# Used by bin/bash, bin/cli, bin/root, bin/copyfromcontainer, bin/copytocontainer

APP_CONTAINER=app-main
APP_SHELL_USER=
APP_ROOT=/app
# APP_LOCAL_SRC=./src

### TRAEFIK

X_APP_DOMAIN=${PROJECT_NAME}.example.com

### IMAGE VERSIONS

# APP_PORT=8000
